@media (max-width: 800px) {
    .side-panel-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        margin-bottom: 20px;

        .user-money-counter {
            display: flex;
            height: auto;
            width: 66%;
            gap: 0;
        }

        .user-money-counter .profit-container .profit-count-container {
            margin: 0;
            width: 100%;
            max-width: none;
        }
        
        .user-money-counter .profit-container {
            padding: 0;
            margin: 0;
            border: none;
        }

        .percent-container {
            display: none;
        }

        .user-money-counter .profit-container .profit-count-container .profit-count-btn {
            right: calc(10% + 3vw);
        }

        .user-container .user-nickname {
            width: auto;
        }
    }

    .main-panel-container {
        width: 100%;
    }

    .app-window {
        padding-top: 0 !important;
        flex-direction: column-reverse;
        height: auto !important;
    }

    .user-form {
        position: absolute;
        top: 100px;
        width: 250px;
    }

    .header-title-container h1 {
        font-size: calc(16px + 1vw);
    }
}

@media (max-width: 500px) {
    .side-panel-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .user-money-counter {
            width: 100%;

            .profit-container .profit-count-container .profit-count-btn {
                right: 20%;
            }
        }
    }

    .form-title {
        width: 33%;
        text-align: center;
    }

    .header-title-container  {
        height: 40px;
    }

    .sub-logo {
        display: none;
    }

    .subscribtion-container {
        padding-left: 8%;
    }

    .form-container {
        .create-form-container {
            .create-sub-form {
                flex-direction: column;

                label {
                    width: 100%;
                    margin-bottom: 10px;

                    .create-sub-form-title {
                        font-size: 12px;
                    }
                }

                .service-color-input {
                    align-self: flex-start;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .user-form {
        position: static;
        width: auto;
    }

    .header-title-container h1 {
        width: 60%;
    }
}