@media (max-width: 800px) {
    .main-panel-container {
        width: 100%;
    }

    .app-window {
        padding-top: 0 !important;
        flex-direction: column-reverse;
        height: auto !important;
    }

    .user-form {
        position: absolute;
        top: 100px;
        width: 250px;
    }

    .header-title-container h1 {
        font-size: calc(16px + 1vw);
    }
}

@media (max-width: 500px) {
    .form-title {
        width: 33%;
        text-align: center;
    }

    .header-title-container  {
        height: 40px;
    }

    .sub-logo {
        display: none;
    }

    .subscribtion-container {
        padding-left: 8%;
    }

    .form-container {
        .create-form-container {
            .create-sub-form {
                flex-direction: column;

                label {
                    width: 100%;
                    margin-bottom: 10px;

                    .create-sub-form-title {
                        font-size: 12px;
                    }
                }

                .service-color-input {
                    align-self: flex-start;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .user-form {
        position: static;
        width: auto;
    }

    .header-title-container h1 {
        width: 60%;
    }
}