.side-panel-container {
    border-left: 1px solid rgb(193, 192, 192);
    padding: 20px 5% 0 5%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

@media (max-width: 800px) {
    .side-panel-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        margin-bottom: 20px;

        .user-money-counter {
            display: flex;
            height: auto;
            width: 66%;
            gap: 0;
        }

        .user-money-counter .profit-container .profit-count-container {
            margin: 0;
            width: 100%;
            max-width: none;
            border: none;
        }

        .user-money-counter .profit-container:first-of-type {
            border-bottom: none;
        }
        
        .user-money-counter .profit-container {
            padding: 0;
            margin: 0;
            border: none;
        }

        .percent-container {
            display: none;
        }

        .user-money-counter .profit-container .profit-count-container .profit-count-btn {
            right: calc(10% + 3vw);
        }

        .user-container .user-nickname {
            width: auto;
        }
    }
}

@media (max-width: 500px) {
    .side-panel-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .user-money-counter {
            width: 100%;

            .profit-container .profit-count-container .profit-count-btn {
                right: 20%;
            }
        }
    }
}